<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>accuracy-dual-test copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>accuracy-dual-test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>bounce-test copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>bounce-test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>client-simulation copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>client-to-amazon-sim.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>client-to-amazon-test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>client.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>clocksync.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>mallo-client.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>mallo-relay.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>prediction-localtest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>relay.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>run-redirect.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F349AD3A1A69826400F2B3C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F349AD5A1A6C41EE00F2B3C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F349AEA31A7ACA8000F2B3C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F35F7F9D1A74663B003A12D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3744C6A1A678C1B00BE41B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3744C7F1A67FD2A00BE41B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3996F601A64406700843DDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3EC22301A6303BD007CD737</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3EC224E1A63D9F7007CD737</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3EC225E1A63F05A007CD737</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3ECFFAD1A251AF500B91E63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3ECFFC51A2520DB00B91E63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3ECFFD11A25210800B91E63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
